*{
    margin: 0;
    padding: 0;
}

.btnStack{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}



.btnStart{
    width: 115px;
    height: 50px;
}
#btnStart1{
    position: absolute;
    top: 40%;
}
#btnStart2{
    position: absolute;
    top:50%;
}


